@import "tailwindcss";

@theme {
  --animate-ring-length: ring-length 1.5s ease-in-out infinite;
  --animate-spin-ring: spin-ring 1.5s ease-in-out infinite;
  --animate-check-draw: check-draw 1s ease-in-out forwards;
  --animate-x-draw: x-draw .3s ease-in-out forwards;
  --animate-fade-in: fade-in 1s ease-in-out forwards;
  --animate-scroll: scroll 20s linear infinite;

  @keyframes x-draw {
    0% {
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
    }
    100% {
      stroke-dasharray: 20;
      stroke-dashoffset: 0;
    }
  }

  @keyframes ring-length {
    0%, 100% {
      stroke-dasharray: 1 125;
    }
    50% {
      stroke-dasharray: 35 125;
    }
  }

  @keyframes spin-ring {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes check-draw {
    0% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
    }
  }

  @keyframes fade-in {
    0%{
      opacity: 0;
      filter: blur(10px);
    }
    100%{
      opacity: 1;
      filter: blur(0px);
    }
  }

    @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50% - 16px));
    }
  }

}

.text-stroke-neutral {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #444;
}

span{
  margin: 0px!important;
}
* {
  --sb-track-color: #262626;
  --sb-thumb-color: #ad46ff;
  --sb-size: 5px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
  margin-right: 4px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.job-scroll-container {
  padding-right: calc(var(--sb-size) + 12px);

  scrollbar-gutter: stable both-edges;

  overflow-y: auto;

  border-radius: .75rem;
}
