@import 'tailwindcss';

@theme {
  --animate-ring-length: ring-length 1.5s ease-in-out infinite;
  --animate-spin-ring: spin-ring 1.5s ease-in-out infinite;
  --animate-check-draw: check-draw 1s ease-in-out forwards;
  --animate-x-draw: x-draw 0.3s ease-in-out forwards;
  --animate-fade-in: fade-in 1s ease-in-out forwards;
  --animate-scroll: scroll 20s linear infinite;

  @keyframes x-draw {
    0% {
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
    }
    100% {
      stroke-dasharray: 20;
      stroke-dashoffset: 0;
    }
  }

  @keyframes ring-length {
    0%,
    100% {
      stroke-dasharray: 1 125;
    }
    50% {
      stroke-dasharray: 35 125;
    }
  }

  @keyframes spin-ring {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes check-draw {
    0% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50% - 16px));
    }
  }
}

.timeline-item {
  @apply relative flex items-start md:items-center w-full mb-12 hover:scale-105 transition-transform duration-300;
}
.timeline-item.even {
  @apply justify-start mr-8;
}
.timeline-item.odd {
  @apply justify-end;
}

.timeline-dot {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
           h-4 w-4 rounded-full border-2 border-white transition-shadow;
  background: linear-gradient(to right, #f43f5e, #d946ef, #0ea5e9);
}

.timeline-card {
  @apply w-full md:w-[calc(50%-2rem)] bg-black/60 border border-neutral-800
           p-6 rounded-lg backdrop-blur-sm transition-shadow;
}
.timeline-card.even {
  @apply mr-8;
}
.timeline-card.odd {
  @apply ml-8;
}

.status-badge {
  @apply !mt-4 inline-block rounded-full px-3 py-1 text-xs font-medium;
}
.status-completed {
  background-color: rgba(255, 32, 86, 0.2);
  color: #ff2056;
}
.status-in-progress {
  background-color: rgba(225, 42, 251, 0.2);
  color: #e12afb;
}
.status-upcoming {
  background-color: rgba(0, 166, 244, 0.2);
  color: #00a6f4;
}

.text-stroke-neutral {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #444;
}

span {
  margin: 0px !important;
}
* {
  --sb-track-color: #262626;
  --sb-thumb-color: #ad46ff;
  --sb-size: 5px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
  margin-right: 4px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.job-scroll-container {
  padding-right: calc(var(--sb-size) + 12px);

  scrollbar-gutter: stable both-edges;

  overflow-y: auto;

  border-radius: 0.75rem;
}
