<div class="w-screen overflow-x-hidden min-h-screen grid grid-cols-[256px_1fr]">
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <section class="grid grid-cols-1 grid-rows-[60px_1fr] h-screen">
      <div class="w-full">
        <nav class="bg-neutral-900 flex items-center justify-end h-full mx-8 rounded-2xl mt-4 p-4 relative">
          <app-job-bar [jobs$]="jobs$"/>
        </nav>
      </div>
      <div class="flex flex-col h-full p-8 relative">
        <router-outlet></router-outlet>
      </div>
  </section>
</div>
