<app-vector-storage-card
  src="/imgs/providers/pinecone.svg"
  providerTitle="Pinecone"
  [isActive]="providerData != undefined && providerData.isActive"
  [exists]="providerData != undefined"
  (delete)="handleDelete()"
  (toggleIsActive)="handleToggleIsActive()"
>
  <!-- Type Selector -->
  <div class="flex items-center justify-start gap-x-4 text-black mt-6">
    <button
      *ngFor="let type of types"
      class="bg-gradient-to-r from-neutral-800 to-neutral-900 px-4 py-2 rounded-lg cursor-pointer"
      [ngClass]="{
        '!from-fuchsia-500 !to-sky-500 !text-white': activeType === type
      }"
      type="button"
      (click)="setActiveType(type)"
    >
      <p class="text-white uppercase">{{ type }}</p>
    </button>
  </div>

  <!-- Form Content -->
  <div class="mt-6">
    <app-serverless-form
      *ngIf="activeType === 'Serverless'"
      [cloud]="cloud"
      [apiKey]="apiKey"
      [region]="region"
      (submitForm)="handleSubmit($event)"
    />
    <app-pods-form
      *ngIf="activeType === 'Pods'"
      [apiKey]="apiKey"
      [pods]="pods"
      [podSize]="podSize"
      [podType]="podType"
      [environment]="environment"
      (submitForm)="handleSubmit($event)"
    />
    <app-byoc-form
      *ngIf="activeType === 'BYOC'"
      [apiKey]="apiKey"
      [environment]="environment"
      (submitForm)="handleSubmit($event)"
    />
  </div>

</app-vector-storage-card>
