<div class="w-full flex flex-col gap-8 py-8">
  <div
    class="w-full bg-[#111111]/80 rounded-xl p-6 shadow-[0_0_20px_rgba(217,70,239,0.1)] space-y-4 py-8 px-4 h-fit"
  >
    <div class="flex items-center justify-between w-full">
      <div class="flex items-end justify-center gap-x-6">
        <div
          class="px-3 py-1 bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 text-white text-xs font-medium rounded-full"
        >
          {{ title }}
        </div>
      </div>
      <hlm-switch
        class="mr-2 bg-white"
        (click)="toggleEnabled()"
        [checked]="enabled$.value"
      />
    </div>
    <p class="text-neutral-300 text-sm">
      {{ description }}
    </p>
    <form
      *ngIf="enabled$ | async"
      [formGroup]="configForm"
      (ngSubmit)="submitForm()"
      class="space-y-4 bg-gradient-to-r from-fuchsia-500/5 to-transparent rounded-lg p-4 animate-fade-in-300"
    >
      <app-slider-input
        *ngIf="maxQueriesEnabled"
        label="Max queries"
        [min]="1"
        [max]="10"
        [step]="1"
        tooltip="Define the maximum ammount of queries that LLM will generate based on your query."
        formControlName="maxQueries"
        class="mb-4"
      ></app-slider-input>

      <app-text-area
        *ngIf="guidanceEnabled"
        label="Guidance *"
        type="text"
        name="guidance"
        formControlName="guidance"
        description="This field allows you to provide additional context or instructions to guide the generation of queries. It can help in shaping the queries to be more relevant to your specific use case."
      >
      </app-text-area>
      <div *ngIf="queryEnhancer" class="grid grid-cols-2 gap-x-8 mt-8">
        <button
          class="cursor-pointer px-4 py-2 bg-gradient-to-r from-rose-500 to-fuchsia-500 text-white rounded-lg hover:shadow-[0_0_10px_rgba(217,70,239,0.3)] transition-all"
          type="submit"
        >
          Save
        </button>

        <button
          class="cursor-pointer px-4 py-2 bg-gradient-to-r from-red-500 to-red-600 text-white rounded-lg hover:shadow-[0_0_10px_rgba(239,68,68,0.3)] transition-all"
          type="button"
          (click)="delete()"
        >
          Delete
        </button>
      </div>
      <div *ngIf="!queryEnhancer" class="w-full grid grid-cols-1 mt-8">
        <button
          class="cursor-pointer px-4 py-2 bg-gradient-to-r from-rose-500 to-fuchsia-500 text-white rounded-lg hover:shadow-[0_0_10px_rgba(217,70,239,0.3)] transition-all"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
