<div class="relative z-10 max-w-7xl mx-auto px-6 pb-20">
  <div class="transition-all duration-1000 delay-600 opacity-100 translate-y-0">
    <h2
      class="text-3xl font-bold text-center mb-12 bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 bg-clip-text text-transparent"
    >
      Feature Comparison
    </h2>
    <div
      class="bg-neutral-900/50 backdrop-blur-sm rounded-2xl border border-neutral-800 overflow-hidden"
    >
      <div class="overflow-x-auto sm:overflow-hidden">
        <table class="w-full">
          <thead>
            <tr class="border-b border-neutral-800">
              <th
                class="text-left sm:p-6 p-2 font-bold uppercase text-xs sm:text-sm tracking-tight sm:tracking-wider text-neutral-300"
              >
                Features
              </th>
              <th
                class="text-center sm:p-6 p-2 font-bold uppercase text-xs sm:text-sm tracking-tight sm:tracking-wider text-rose-400"
              >
                Core
              </th>
              <th
                class="text-center sm:p-6 p-2 font-bold uppercase text-xs sm:text-sm tracking-tight sm:tracking-wider text-fuchsia-400"
              >
                Enhanced
              </th>
              <th
                class="text-center sm:p-6 p-2 font-bold uppercase text-xs sm:text-sm tracking-tight sm:tracking-wider text-sky-400"
              >
                Ascend
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Monthly Tokens</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">500</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">3000 + 500</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">5000 + 500</span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-800/10"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Chunkers</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Paragraph</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <ul class="flex flex-col">
                <li class="text-neutral-200">Paragraph</li>
                <li class="text-neutral-200">Proposition</li>
                </ul>

              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <ul class="flex flex-col">
                <li class="text-neutral-200">Paragraph</li>
                <li class="text-neutral-200">Proposition</li>
                <li class="text-neutral-200">Semantic</li>
                </ul>

              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Query Enhancers</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200"
                  >HyDE</span
                >
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <ul class="flex flex-col">
                  <li class="text-neutral-200"
                    >HyDE</li
                  >
                  <li class="text-neutral-200">Auto Query</li>
                </ul>

              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <ul class="flex flex-col">
                  <li class="text-neutral-200"
                    >HyDE</li
                  >
                  <li class="text-neutral-200">Auto Query</li>
                </ul>

              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">
                Context Enrichers
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">SERP</span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-800/10"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Filters</td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200"
                  >Relevant Segment Extraction</span
                >
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200"
                  >Relevant Segment Extraction</span
                >
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Active Workflows</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">10</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">50</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Unlimited</span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-800/10"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Max File Size</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">10MB</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">50MB</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">500MB</span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">
                Knwoledge Bases Support
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200"> Researches </span>
                <span class="text-neutral-200"> Medical </span>
                <span class="text-neutral-200"> Movies </span>
                <span class="text-neutral-200"> Many More </span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-800/10"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">Priority Support</td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-xl">
                <span class="text-neutral-200"> Community Support </span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-xl">
                <span class="text-neutral-200"> Priority Support </span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-xl">
                <span class="text-neutral-200"> Dedicated Support </span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">API Access</td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Full</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Full + Webhooks</span>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-800/10"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">
                Custom Integrations
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-emerald-400 sm:text-xl">
                <ng-icon name="lucideCheck"></ng-icon>
              </td>
            </tr>
            <tr
              class="border-b border-neutral-800/50 hover:bg-neutral-800/30 transition-all duration-300 hover:scale-[1.01] bg-neutral-900/20"
            >
              <td class="sm:p-6 p-2 font-medium text-neutral-200 text-xs sm:text-base">
                Analytics Dashboard
              </td>
              <td class="sm:p-6 p-2 text-center text-xs text-red-400 sm:text-xl">
                <ng-icon name="lucideX"></ng-icon>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Basic</span>
              </td>
              <td class="sm:p-6 p-2 text-center text-xs sm:text-base">
                <span class="text-neutral-200">Advanced</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
