<div class="p-8 relative z-10">
  <h1 class="text-neutral-200 text-4xl">Create Workflow</h1>
  <p class="text-sm text-neutral-400 mt-2">
    Here you can add a new workflow to your collection.
  </p>
  <form
    class="mt-8 pb-8 rounded-2xl grid grid-cols-1 gap-y-8"
    [formGroup]="form"
    (ngSubmit)="createWorkflow()"
  >
    <span
      *ngIf="error"
      class="text-violet-500 inline-block w-full text-lg text-center mt-8"
      >{{ error }}</span
    >

    <div class="grid grid-cols-1 w-full p-4 ps-0 gap-y-4">
      <h2 class="text-neutral-300 text-2xl">Details</h2>
      <app-input
        label="Workflow Name *"
        type="text"
        name="name"
        formControlName="name"
      ></app-input>
      <app-text-area
        label="Description *"
        type="text"
        name="description"
        formControlName="description"
        description="Here you can categorize your workflow, saving things like the category of the documents contained in it or the RAG strategies adopted for it."
      ></app-text-area>
    </div>

    <!-- Chunker -->
    <div class="grid grid-cols-1 gap-y-4 w-full">
      <label class="block text-fuchsia-200 text-xs uppercase tracking-wider"
        >CHUNKER STRATEGY</label
      >
      <div class="flex gap-3">
        <button
          type="button"
          class="flex-1 py-3 px-4 rounded-full text-sm transition-all transform bg-[#331A24] text-[#BFA3B5] hover:bg-[#3D1F2B] hover:translate-y-[-1px]"
          (click)="setChunkerStrategy(2)"
          [ngClass]="{
            'bg-sky-500/20 text-white shadow-[0_0_15px_rgba(14,165,233,0.3)] translate-y-[-3px]':
              strategyValue == 2
          }"
        >
          Paragraph
        </button>

        <button
          type="button"
          class="flex-1 py-3 px-4 rounded-full text-sm transition-all transform bg-[#331A24] text-[#BFA3B5] hover:bg-[#3D1F2B] hover:translate-y-[-1px]"
          (click)="setChunkerStrategy(1)"
          [ngClass]="{
            'bg-sky-500/20 text-white shadow-[0_0_15px_rgba(14,165,233,0.3)] translate-y-[-3px]':
              strategyValue == 1
          }"
        >
          Semantic
        </button>

        <button
          type="button"
          class="flex-1 py-3 px-4 rounded-full text-sm transition-all transform bg-[#331A24] text-[#BFA3B5] hover:bg-[#3D1F2B] hover:translate-y-[-1px]"
          (click)="setChunkerStrategy(0)"
          [ngClass]="{
            'bg-sky-500/20 text-white shadow-[0_0_15px_rgba(14,165,233,0.3)] translate-y-[-3px]':
              strategyValue == 0
          }"
        >
          Proposition
        </button>
      </div>
      <div class="grid grid-cols-1 w-full gap-4" formGroupName="settings">
        <app-slider-input *ngIf="strategyValue != 2" formControlName="threshold"></app-slider-input>
        <app-max-chunk-slider *ngIf="strategyValue === 2" formControlName="maxChunkSize"></app-max-chunk-slider>
      </div>
    </div>

    <!-- PROVIDERS -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-8 w-full">
      <div class="space-y-5 w-full">
        <span class="block text-fuchsia-200 text-xs uppercase tracking-wider"
          >EMBEDDING PROVIDER</span
        >
        <div class="mt-4" formGroupName="embeddingProvider">
          <app-select
            label=""
            name="provider"
            [options]="embeddingOptions"
            formControlName="provider"
            description=""
            placeholder="Select Provider"
          ></app-select>

          <app-select
            label=""
            name="model"
            [options]="embeddingModelOptions"
            formControlName="model"
            description=""
            placeholder="Select Model"
          ></app-select>
        </div>

        <div *ngIf="selectedEmbeddingModel" class="flex flex-wrap gap-2 mt-2">
          <div
            class="px-3 py-1 rounded-full bg-black border border-rose-500/30 text-rose-500 text-xs flex items-center gap-1"
          >
            <span>Speed:</span>
            <ng-container
              *ngFor="let icon of selectedEmbeddingModel.speed | modelSpeed"
            >
              <ng-icon [name]="icon"></ng-icon>
            </ng-container>
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-fuchsia-500/30 text-fuchsia-500 text-xs flex items-center gap-1"
          >
            <span
              >Max Context:
              {{ selectedEmbeddingModel.maxContext }}
              tokens
            </span>
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-sky-500/30 text-sky-500 text-xs flex items-center gap-1"
          >
            <span>Vector Size: {{ selectedEmbeddingModel.vectorSize }}</span>
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-emerald-500/30 text-emerald-500 text-xs flex items-center gap-1"
          >
            <span
              >Price: U$ {{ selectedEmbeddingModel.price }} / 1M Tokens</span
            >
          </div>
        </div>
      </div>
      <div class="space-y-6 w-full">
        <span class="block text-fuchsia-200 text-xs uppercase tracking-wider"
          >Conversation PROVIDER</span
        >
        <div class="mt-4" formGroupName="conversationProvider">
          <app-select
            label=""
            name="provider"
            [options]="conversationOptions"
            formControlName="provider"
            placeholder="Select Provider"
            description=""
          ></app-select>

          <app-select
            label=""
            name="model"
            [options]="conversationModelOptions"
            formControlName="model"
            placeholder="Select Model"
            description=""
          ></app-select>
        </div>

        <div
          *ngIf="selectedConversationModel"
          class="flex flex-wrap gap-2 mt-2"
        >
          <div
            class="px-3 py-1 rounded-full bg-black border border-rose-500/30 text-rose-500 text-xs flex items-center gap-1"
          >
            <span>Speed:</span>
            <ng-container
              *ngFor="let icon of selectedConversationModel.speed | modelSpeed"
            >
              <ng-icon [name]="icon"></ng-icon>
            </ng-container>
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-fuchsia-500/30 text-fuchsia-500 text-xs flex items-center gap-1"
          >
            <span
              >Context Window:
              {{ selectedConversationModel.contextWindow }}
              tokens
            </span>
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-sky-500/30 text-sky-500 text-xs flex items-center gap-1"
          >
            <span
              >Input Price: U$ {{ selectedConversationModel.inputPrice }} / 1M
              Tokens</span
            >
          </div>
          <div
            class="px-3 py-1 rounded-full bg-black border border-emerald-500/30 text-emerald-500 text-xs flex items-center gap-1"
          >
            <span
              >Output Price: U$ {{ selectedConversationModel.outputPrice }} / 1M
              Tokens</span
            >
          </div>
        </div>
      </div>
    </div>

    <button
      class="w-3/4 place-self-center mx-8 col-start-1 bg-violet-500 p-2 rounded-xl hover:scale-105 hover:bg-white hover:text-black cursor-pointer transition-all duration-300 text-white mt-8"
      type="submit"
    >
      Create
    </button>
  </form>
</div>
