<button
  class="fixed top-4 right-4 z-10 p-2 rounded-full bg-black/50 backdrop-blur-md border border-white/10 md:hidden"
  (click)="toggleSidebar()"
>
  <ng-icon
    [name]="sidebarOpen ? 'lucideX' : 'lucideMenu'"
    size="20"
    class="text-white"
  ></ng-icon>
</button>

<aside
  class="fixed inset-y-0 left-0 !z-10 w-64 bg-black/80 backdrop-blur-md border-r border-white/5 flex flex-col p-4 transform transition-transform duration-300 ease-in-out md:translate-x-0"
  [class.translate-x-0]="sidebarOpen"
  [class.-translate-x-full]="!sidebarOpen"
>
  <div class="mt-5 px-4 flex items-center justify-start gap-x-4">
    <img src="/img/symbol-logo.png" alt="RAG.NET Symbol" class="h-8" />
    <img src="./img/logo.svg" alt="RAG.NET logo" class="h-4" />
  </div>

  <nav class="mt-8 mb-auto w-full grid grid-cols-1 gap-y-4 place-items-center">
    <app-nav-item
      *ngFor="let item of navItems"
      [icon]="item.icon"
      [label]="item.label"
      [url]="item.url"
      [onClick]="item.onClick"
    ></app-nav-item>
  </nav>

  <app-user-card
    avatarUrl="/img/placeholder.svg"
    [initials]="(initials$ | async) ?? ''"
    [name]="(user$ | async)?.firstName ?? ''"
    [email]="(user$ | async)?.email ?? ''"
  ></app-user-card>
</aside>
