<ng-container *ngIf="jobs$ | async as jobs">
  <div class="relative">
    <button
      class="text-white bg-black px-3 py-1 rounded-lg cursor-pointer
             hover:bg-neutral-200 hover:text-black transition-all duration-300"
      (click)="toggleJobsBar()"
    >
      Documents
      <span
        *ngIf="jobs.length > 0"
        class="absolute -top-2 -right-2 w-5 h-5 bg-violet-500 text-white
               rounded-full flex items-center justify-center text-sm"
      >
        {{ jobs.length }}
      </span>
    </button>
  </div>

  <div
    *ngIf="isOpen"
    class="max-h-120 bg-neutral-900 w-120 flex flex-col items-center
           justify-start p-4 rounded-xl shadow-violet-600/10 shadow-lg
           fixed top-20 right-8 z-10"
  >
    <h2 class="text-3xl text-neutral-200 text-center w-full">
      Embedding Queue
    </h2>

    <div class="w-110 job-scroll-container p-4 mt-8 bg-neutral-950">
        <ul
          *ngIf="jobs.length > 0"
          class="grid grid-cols-1 gap-y-4 w-full place-items-center"
        >
          <li *ngFor="let job of jobs; trackBy: trackByJobId" class="w-full">
            <app-job [job]="job"></app-job>
          </li>
        </ul>
        <p *ngIf="jobs.length == 0" class="text-neutral-200 text-center">
          Your Embedding Queue is empty.
        </p>
    </div>


  </div>
</ng-container>
