<div
  #tooltipTrigger
  (mouseenter)="showTooltip()"
  (mouseleave)="hideTooltip()"
  class="text-xs/tight xl:text-sm/tight h-5 text-neutral-300 hover:text-fuchsia-500 transition-colors duration-300 trigger"
>
  <ng-icon name="lucideCircleHelp"></ng-icon>
</div>

<ng-template #tooltipTemplate>
  <div class="z-50">
    <div class="bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 p-[1px] rounded">
      <div class="bg-black px-2 py-1 text-sm text-white rounded whitespace-nowrap">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</ng-template>
