
  <!-- Type Selector -->
  <div class="flex items-center justify-start gap-x-4 text-black mt-6">
    <button
      *ngFor="let type of types"
      class="bg-gradient-to-r from-neutral-800 to-neutral-900 px-4 py-2 rounded-lg cursor-pointer"
      [ngClass]="{
        '!from-fuchsia-500 !to-sky-500 !text-white': activeType === type
      }"
      type="button"
      (click)="setActiveType(type)"
    >
      <p class="text-white uppercase">{{ type }}</p>
    </button>
  </div>

  <!-- Form Content -->
  <div class="mt-6">
    <app-qdrant-cloud-form
      [apiKey]="data.apiKey"
      [host]="getMeta('host')"
      (submitForm)="onSubmit($event)"
    />
  </div>
