<section id="roadmap" class="bg-neutral-950 relative w-full min-h-screen flex flex-col px-4 sm:px-10 lg:px-40 py-12">
  <app-floating-particles></app-floating-particles>
  <h2 class="mb-12 text-center text-4xl font-bold tracking-tight md:text-5xl text-white">Our <span class="bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 bg-clip-text text-transparent">Technology</span> Journey</h2>

  <div class="relative w-full max-w-4xl mx-auto z-30">

    <div class="absolute top-0 bottom-0 left-1/2 -translate-x-1/2 w-1.5 rounded-full bg-gradient-to-b from-rose-500 via-fuchsia-500 to-sky-500"></div>

    <div class="relative space-y-24 md:space-y-48">
      <ng-container *ngFor="let item of roadmapItems; let i = index">
        <app-timeline-item
          [title]="item.title"
          [description]="item.description"
          [colorHex]="getColor(item.status)"
          [status]="item.status"
          [index]="i"
          [active]="activeSection === i"
        ></app-timeline-item>
      </ng-container>

      <app-feedback-form></app-feedback-form>
    </div>
  </div>
</section>
