<div class="grid grid-cols-1 grid-rows-[80px_1fr] p-8 col-start-2">
  <div class="flex items-start justify-between">
    <div class="flex items-center justify-center gap-x-8">
      <h1 class="text-4xl text-neutral-200 font-bold">Providers</h1>
    </div>
  </div>
  <div *ngIf="providers.length > 0" class="flex flex-col items-stretch justify-start gap-8 w-2/3">
    <app-provider
    [Provider]="getProvider('openai')"
    ></app-provider>

    <app-provider
    [Provider]="getProvider('anthropic')"
  ></app-provider>

    <app-provider
    [Provider]="getProvider('voyage')"
  ></app-provider>

  </div>
</div>

<hlm-toaster />
