<div class="max-w-2xl mt-8 space-y-4">
  <form (ngSubmit)="onSubmit($event)" class="space-y-8" [formGroup]="queryForm">
      <app-text-area
        label="Query *"
        type="text"
        name="query"
        [description]="'This is the main input for your search. Enter your question or a descriptive prompt here. Based on this query, the system will perform a semantic search across the collection to identify the most relevant documents or passages that match your intent.'"
        formControlName="query"
        ></app-text-area>

        <div class="border-t-2 bg-neutral-900 rounded-2xl p-3">
          <div class="flex items-center justify-between w-full mb-4">
            <h2 class="text-neutral-200 text-xl">Top K</h2>
            <hlm-switch
            class="mr-2 bg-white"
            formControlName="enableTopK" />
          </div>
          <p class="text-neutral-400">Top K defines the maximum number of top-ranked results to be retrieved during the search phase. In a RAG pipeline, setting the value of K helps balance breadth and precision by returning only the top K documents or chunks with the highest semantic similarity.</p>
          <app-input
            *ngIf="queryForm.get('enableTopK')?.value"
            type="number"
            name="topK"
            formControlName="topK"
            [min]="1"
            [max]="10"
            [step]="1"
            ></app-input>
        </div>

        <div class="border-t-2 bg-neutral-900 rounded-2xl p-3">
          <div class="flex items-center justify-between w-full mb-4">
            <h2 class="text-neutral-200 text-xl">Parent Child</h2>
            <hlm-switch
            class="mr-2 bg-white"
            formControlName="parentChild" />
          </div>
          <p class="text-neutral-400">
            The Parent-Child technique in RAG is useful when you want to retrieve a larger context surrounding a matched chunk. Instead of returning only the chunk that matched the query, this setting ensures the parent document or section is returned as well — for example, an entire chapter in the case of EPUB files. This can improve answer quality in some scenarios by providing more complete context. However, this approach is not ideal for certain data types like CSV collections, where the parent-child relationship does not naturally exist and could lead to less precise or excessive results.
          </p>

        </div>

        <div class="border-t-2 bg-neutral-900 rounded-2xl p-3 space-y-4">
          <div class="flex items-center justify-between w-full">
            <h2 class="text-neutral-200 text-xl">Normalize Score</h2>
            <hlm-switch
            class="mr-2 bg-white"
            formControlName="normalizeScore" />
          </div>
          <p class="text-neutral-400">
            Enabling score normalization means that raw similarity scores will be adjusted to a standard range (e.g., between 0 and 1). Normalization allows for more consistent comparison between results, making it easier to set reliable thresholds for what is considered relevant.
          </p>

          <app-input
            *ngIf="queryForm.get('normalizeScore')?.value"
            label="Minimun Normalized Score"
            type="number"
            name="minNormalizedScore"
            description="Enter the minimum score after normalization"
            formControlName="minNormalizedScore"
            [min]="0"
            [max]="1"
            [step]="0.01"
          ></app-input>
        </div>

        <div *ngIf="!queryForm.get('normalizeScore')?.value" class="border-t-2 bg-neutral-900 rounded-2xl p-3 space-y-4">
            <div>
              <div class="flex items-center justify-between w-full">
              <h2 class="text-neutral-200 text-xl mb-4">Score Threshold</h2>
              <hlm-switch
              class="mr-2 bg-white"
              formControlName="scoreThreshold" />
            </div>
            <p class="text-neutral-400">
              When normalization is disabled, the score threshold allows you to define a minimum raw score that a result must exceed to be considered relevant. This helps filter out low-scoring results and improves the overall quality of the retrieval.
            </p>
          </div>

          <app-input
            *ngIf="queryForm.get('scoreThreshold')?.value"
            type="number"
            name="minScore"
            formControlName="minScore"
            [min]="0"
            [max]="1"
            [step]="0.01"
          ></app-input>

        </div>
        <button
        type="submit"
        class="w-full bg-white text-black py-2 px-4 rounded mt-4 hover:bg-gray-300 transition duration-300 cursor-pointer disabled:cursor-not-allowed"
        [disabled]="(isLoading$ | async)"
      >
        <ng-container *ngIf="(isLoading$ | async); else label">
          <ng-icon name="lucideLoaderCircle" class="animate-spin h-5 w-5 text-gray-500 inline-block"></ng-icon>
          <span class="ml-2">Searching on your collection...</span>
        </ng-container>
        <ng-template #label>
          Search
        </ng-template>
      </button>
      </form>
</div>

<hlm-toaster />
