<section class="space-y-6 mb-16">
  <div class="flex items-center gap-3">
    <div
      class="w-1.5 h-6 bg-gradient-to-b from-rose-500 via-fuchsia-500 to-sky-500 rounded-full animate-fade-in"
    ></div>
    <h2 class="text-3xl uppercase text-[#BFA3B5] font-light tracking-wider">
      General Information
    </h2>
  </div>
  <div
    class="bg-[#111111]/80 rounded-xl p-6 shadow-[0_0_20px_rgba(217,70,239,0.1)] space-y-6"
  >
    <div class="min-w-full items-center flex">
      <app-workflow-name
        *ngIf="workflow"
        (saveEvent)="updateWorkflow($event)"
        [name]="workflow.name"
        class="flex-1"
      ></app-workflow-name>

      <hlm-switch
        class="bg-white"
        (click)="toggleEnabled($event)"
        [checked]="workflow.isActive"
      />
    </div>

    <app-workflow-description
      *ngIf="workflow"
      (saveEvent)="updateWorkflow($event)"
      [description]="workflow.description"
    ></app-workflow-description>

    <div class="flex flex-wrap gap-3">
      <div
        class="px-3 py-1 rounded-full bg-black border border-rose-500/20 text-white text-sm shadow-[0_0_5px_rgba(244,63,94,0.2)]"
      >
        Status: {{ workflow.isActive ? "Active" : "Inactive" }}
      </div>
      <div
        class="px-3 py-1 rounded-full bg-black border border-rose-500/20 text-white text-sm shadow-[0_0_5px_rgba(244,63,94,0.2)]"
      >
        Created: {{ currentDate }}
      </div>
      <div
        class="px-3 py-1 rounded-full bg-black border border-fuchsia-500/20 text-white text-sm shadow-[0_0_5px_rgba(217,70,239,0.2)]"
      >
        Last Modified: {{ currentDate }}
      </div>
      <div
        *ngIf="workflow"
        class="px-3 py-1 rounded-full bg-black border border-sky-500/20 text-white text-sm shadow-[0_0_5px_rgba(14,165,233,0.2)]"
      >
        Documents: {{ workflow.documentsCount }}
      </div>
    </div>
  </div>

  <!-- SEPARATOR -->
  <div
    class="h-px bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 opacity-30"
  ></div>

  <app-provider-settings
    *ngIf="workflow"
    (saveEmbeddingEvent)="updateWorkflow($event)"
    (saveConversationEvent)="updateWorkflow($event)"
    [currentEmbedding]="embProvider"
    [currentConversation]="convProvider"
  ></app-provider-settings>

  <!-- SEPARATOR -->
  <div
    class="h-px bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 opacity-30 mt-6"
  ></div>

  <div class="py-4">
    <div class="flex items-center gap-3">
      <div
        class="w-1.5 h-6 bg-gradient-to-b from-rose-500 via-fuchsia-500 to-sky-500 rounded-full animate-fade-in"
      ></div>

      <h2 class="text-3xl uppercase text-[#BFA3B5] font-light tracking-wider">
        Query Enhancers
      </h2>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
      <app-query-enhancer-config
        [workflowId]="workflowId"
        [queryEnhancer]="autoQueryEnhancer"
        type="auto-query"
        title="Auto Querying"
        description="Automatically generates multiple query variations to improve search coverage and relevance."
        [guidanceEnabled]="true"
        [maxQueriesEnabled]="true"
      >
      </app-query-enhancer-config>

      <app-query-enhancer-config
        [workflowId]="workflowId"
        [queryEnhancer]="hydeEnhancer"
        type="hyde"
        title="HyDE"
        description="Hypothetical Document Embeddings - generates synthetic documents to improve retrieval accuracy."
        [guidanceEnabled]="false"
        [maxQueriesEnabled]="true"
      >
      </app-query-enhancer-config>
    </div>
  </div>

  <!-- SEPARATOR -->
  <div
    class="h-px bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 opacity-30"
  ></div>

  <div class="py-4">
    <div class="flex items-center gap-3">
      <div
        class="w-1.5 h-6 bg-gradient-to-b from-rose-500 via-fuchsia-500 to-sky-500 rounded-full animate-fade-in"
      ></div>
      <h2 class="text-3xl uppercase text-[#BFA3B5] font-light tracking-wider">
        Filters
      </h2>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
      <app-filter-config
        title="Relevant Segment Extraction"
        description="Filters search results to return only the most relevant document segments based on semantic similarity."
        [workflowId]="workflowId"
        [filter]="filter"
        strategy="rse"
      >
      </app-filter-config>
    </div>
  </div>

  <!-- SEPARATOR -->
  <div
    class="h-px bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 opacity-30"
  ></div>

  <div class="py-4 space-y-4">
    <div class="flex items-center gap-3">
      <div
        class="w-1.5 h-6 bg-gradient-to-b from-rose-500 via-fuchsia-500 to-sky-500 rounded-full animate-fade-in"
      ></div>

      <h2 class="text-3xl uppercase text-[#BFA3B5] font-light tracking-wider">
        Callback Urls
      </h2>
    </div>

    <app-callback-urls-form
      *ngIf="workflow"
      [urls]="workflow.callbackUrls ?? []"
      [workflowId]="workflowId"
    ></app-callback-urls-form>
  </div>
</section>

<hlm-toaster />
