<div class="space-y-4 w-full">
  <label [for]="name" class="block text-neutral-200 text-sm font-medium">{{ label }}</label>
  <textarea
    [name]="name"
    [value]="value"
    rows="4"
    (input)="onValueChange($event)"
    [placeholder]="placeholder"
    (blur)="onTouched()"
    class="w-full bg-black border border-[#333333] focus:border-fuchsia-500 rounded-lg p-3 text-white placeholder:text-neutral-600 transition-colors focus:outline-none focus:ring-1 focus:ring-fuchsia-500/50"
    required
  ></textarea>
  <p *ngIf="description.length"class="text-xs text-neutral-400 w-full">{{description}}</p>
</div>
