<div class="w-screen bg-neutral-900 z-10 relative py-6">
  <div class="flex mx-4 2xl:mx-40 overflow-hidden h-28">
    <div id="logo-scroll" class="flex animate-scroll whitespace-nowrap gap-x-8">
      <div class="flex gap-x-8 h-full">
        <app-logo *ngFor="let provider of providers"
          [src]="provider.src"
          [implemented]="provider.implemented"
          [title]="provider.title"
        ></app-logo>
      </div>
      <div class="flex gap-x-8 h-full">
        <app-logo *ngFor="let provider of providers"
          [src]="provider.src"
          [implemented]="provider.implemented"
          [title]="provider.title"
        ></app-logo>
      </div>
    </div>
  </div>
</div>
