<div
  class="relative bg-neutral-900/80 backdrop-blur-sm rounded-2xl p-8 transition-all duration-300 hover:scale-105 cursor-pointer border-2 border-transparent bg-gradient-to-br from-rose-500/10 via-fuchsia-500/10 to-sky-500/10 hover:from-rose-500/20 hover:via-fuchsia-500/20 hover:to-sky-500/20 hover:shadow-sky-500/30 hover:shadow-2xl h-full"
>
  <div class="relative z-10 flex flex-col h-full">
    <div
      class="inline-flex p-3 rounded-xl mb-6 bg-gradient-to-br from-rose-500/20 via-fuchsia-500/20 to-sky-500/20 text-sky-400 text-2xl  w-12 h-12"
    >
      <ng-icon name="lucideRocket"></ng-icon>
    </div>
    <h3 class="text-2xl font-bold mb-2">Ascend</h3>
    <div class="mb-6">
      <span class="text-4xl font-bold">$30</span>
      <span class="text-neutral-400 ml-1">/month</span>
    </div>
    <p class="text-neutral-300 mb-8">
      For teams building serious AI-powered solutions at scale
    </p>
    <ul class="space-y-3 mb-8">
      <li class="flex items-center text-neutral-200">
        <div class="text-emerald-400 mr-3 text-xl font-bold">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        10,000 + 500 tokens /month
      </li>
      <li class="flex items-center text-neutral-200 font-bold">
        <div class="text-emerald-400 mr-3 text-xl">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        <span>
          All from <strong class="font-black text-fuchsia-400">Enhanced</strong> Plan
        </span>
      </li>
      <li class="flex items-center text-neutral-200">
        <div class="text-emerald-400 mr-3 text-xl">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        Semantic Chunker
      </li>
      <li class="flex items-center text-neutral-200">
        <div class="text-emerald-400 mr-3 text-xl">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        SERP
      </li>
      <li class="flex items-center text-neutral-200">
        <div class="text-emerald-400 mr-3 text-xl">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        Unlimited workflows
      </li>
      <li class="flex items-center text-neutral-200">
        <div class="text-emerald-400 mr-3 text-xl">
          <ng-icon name="lucideCheck"></ng-icon>
        </div>
        Max file size: 500MB
      </li>
      <li class="flex items-center text-neutral-200">
        <div class="text-sky-400 mr-3 text-xl">
          <ng-icon name="lucideDatabase"></ng-icon>
        </div>
        Prebuilt Knowledge Bases Included
      </li>
    </ul>
    <button
      (click)="navigateRegister()"
      class="cursor-pointer w-full py-3 px-6 rounded-xl font-semibold transition-all duration-300 hover:scale-105 hover:shadow-lg bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 hover:from-rose-400 hover:via-fuchsia-400 hover:to-sky-400 text-white mt-auto"
    >
      Go Premium
    </button>
  </div>
</div>
