<section
  id="home"
  class="w-screen h-screen bg-black/90 relative grid grid-cols-2 p-4 sm:p-10 lg:p-40"
>
  <svg
    class="absolute top-0 left-0 w-full h-full z-10 pointer-events-none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <defs>
      <pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse">
        <path
          d="M 40 0 L 0 0 0 40"
          fill="none"
          stroke="#ffffff08"
          stroke-width="1"
        />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#grid)" />
  </svg>
  <div
    class="absolute inset-0 bg-[url(/img/home/background.webp)] bg-cover bg-right-bottom animate-fade-in"
  ></div>

  <div
    class="z-10 flex flex-col justify-center items-start max-w-[90vw] w-3xl h-full"
  >
    <div #lampContainer class="relative mt-8 w-full overflow-visible">
      <div
        class="absolute bottom-0 w-full flex justify-center overflow-visible pointer-events-none"
      >
        <div
          id="lamp-blur"
          class="absolute rounded-full bottom-0 -translate-x-[3%] w-full h-56 bg-cyan-500 opacity-20 blur-2xl rotate-6"
        ></div>
        <div
          id="lamp-blur"
          class="absolute rounded-full bottom-0 -translate-x-[3%] w-full h-38 bg-sky-600 opacity-30 blur-2xl rotate-12"
        ></div>
        <div
          id="lamp-blur"
          class="absolute rounded-full bottom-4 -translate-x-[3%] w-full h-38 bg-blue-700 opacity-40 blur-2xl -rotate-12"
        ></div>
        <div
          id="lamp-blur"
          class="absolute rounded-full -bottom-4 -translate-x-[3%] w-4/5 h-38 bg-purple-800 opacity-50 blur-2xl -rotate-6"
        ></div>
      </div>
      <h1
        id="hero-title"
        class="text-5xl -tracking-4 overflow-visible sm:text-6xl font-bold text-transparent bg-gradient-to-b from-[#f5f5f5] via-[29%] via-[#f5f5f5] to-[#999999] bg-clip-text z-10 drop-shadow-[2px_0px_4px_#00000060]"
      >
        Orchestrate Retrieval Augmented Generation Workflows.
      </h1>
    </div>
    <p id="hero-paragraph" class="mt-12 text-neutral-200">
      RAG.NET is a unified API platform for building and running
      Retrieval-Augmented Generation workflows. It simplifies the orchestration
      of embedding, retrieval, and generation stages with built-in resilience
      and flexibility across diverse providers.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-16 w-full">
      <a
        id="register-btn"
        href="/register"
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-11 rounded-md px-8 group relative overflow-hidden bg-gradient-to-r from-rose-500 via-fuchsia-500 to-sky-500 hover:shadow-2xl hover:shadow-fuchsia-500/25 transition-all duration-300 text-white"
        >
        GET STARTED FREE
        <ng-icon name="lucideArrowUpRight" class="transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5 !text-xl/tight"></ng-icon>
        </a
      >
      <a
        id="docs-btn"
        href="/docs"
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border bg-black h-11 rounded-md px-8 border-white/10 text-white hover:bg-white/5 transition-all duration-300"
        >
        DOCUMENTATION
        <ng-icon name="lucideArrowRight" class="!text-xl/tight"></ng-icon>
        </a
      >
    </div>
  </div>
</section>
