<section class="w-screen h-screen bg-black/90 relative grid grid-cols-2 p-4 sm:p-10 lg:p-40" id="home">
  <div class="bg-right-bottom absolute top-0 left-0 bg-[url(/img/home/background.webp)] bg-cover overflow-hidden h-screen min-w-screen animate-fade-in">
  </div>

  <div class="h-full z-10 flex flex-col items-start justify-center max-w-[90vw] w-2xl">
  <h1 class="text-6xl sm:text-7xl font-bold text-transparent bg-gradient-to-br from-white via-neutral-50 to-neutral-600 bg-clip-text">
    Lorem ipsum dolor sit amet elit.
  </h1>
    <p class="text-neutral-300 max-w-xl mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aperiam voluptatum ab laborum consequatur saepe enim magni dolorem dicta sequi, aspernatur quasi, hic illum provident? Ad laboriosam repellendus sapiente culpa?</p>
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-8 mt-10">
      <a class="bg-neutral-900 text-white hover:bg-violet-600 hover:text-white cursor-pointer transition-all duration-300 text-center py-2 rounded-xl" href="/register">Get Started</a>
      <a class="border border-white text-white hover:bg-rose-500 hover:border-rose-500 hover:text-white cursor-pointer transition-all duration-300 text-center py-2 rounded-xl" href="/docs">Documentation</a>
    </div>
  </div>
</section>
